@media (max-width: 1326px) {
	/* Services Section - responsive */
	.left-services-wraper {
		-webkit-transform: translateY(0%);
		    -ms-transform: translateY(0%);
		        transform: translateY(0%);
	}
	.section-services h3:nth-child(2) {
		margin-bottom: 55px;
	}
	.service-block {
		position: inherit;
	}
	.service-icon {
		width: 70px;
		height: 70px;
		position: inherit;
		margin-top: 10%;
	}
	.service-icon img {
		width: 70%;
	}
	.section-services h3,
	.clients-section-wraper h3,
	.faq-section-wraper h3,
	.section-form-wraper h3,
	.about-us-wraper h3,
	.section-team-wraper h3 {
		width: 100%;
		text-align: center;
	}
	.left-services-wraper,
	.right-services-wraper {
		width: 100%;
	}
	/* Form Section */
	.form-desc > h4 {
		font-size: 24px;
		line-height: 25px;
		text-align: center;
	}
	.form-desc p {
		font-size: 12px;
		text-align: center;
	}
	.request-form {
		padding: 50px 50px 20px 0;
	}
	.area-details {
		height: 100px;
	}
	.request-form > input,
	.area-details,
	#input-service {
		width: 80%;
	}
	.flex-form {
		gap: 20px;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
    /* About Us */
    .about-us-wraper h3::after {
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
    }
}
@media (max-width: 1235px) {
	/* Services Section - responsive */
	.left-services-wraper,
	.right-services-wraper {
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	/* Numbers grid */
	.number-block {
		height: 200px;
		gap: 10px;
	}
	.number-block h4 {
		font-size: 30px;
	}
	.number-block p {
		font-size: 15px;
	}
	/* About US */
	.projects-wraper {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		gap: 40px;
	}
	.projects-text {
		width: 100%;
	}
	.projects-photos {
		-ms-grid-columns: (auto)[4];
		grid-template-columns: repeat(4, auto);
		width: 100%;
	}
	/* Our Team Section */
	.our-team-block {
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.team-photo-wraper div:nth-child(3),
	.team-photo-wraper div:nth-child(4) {
		display: none;
	}
	.team-photo-wraper {
		gap: 20px;
		width: 50%;
		height: 100%;
	}
	.team-photo-wraper div {
		width: 50%;
	}
	.team-content-wraper {
		width: 45%;
	}
	/* Footer Elements Styles */
	.columns-grid {
		-ms-grid-columns: 30% 10px 30% 10px 30%;
		grid-template-columns: repeat(3, 30%);
		-moz-column-gap: 10px;
		     -webkit-column-gap: 10px;
		        column-gap: 10px;
	}
}

@media (max-width: 1010px) {
	/* Header - responsive */
	.navigation {
		display: none;
	}
	.header-buttons {
		display: none;
	}
	.burger-wraper {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	/* First Section styles */
	.first-section-wraper {
		height: 300px;
	}
	h1 {
		font-size: 50px;
		line-height: 55px;
		width: 90%;
		text-align: center;
	}
	.first-section-yellow p {
		font-size: 12px;
		line-height: 17px;
		text-align: center;
	}
	/* Services Section - responsive */
	.services-wraper {
		-ms-grid-columns: auto;
		grid-template-columns: auto;
		gap: 80px;
	}
}

@media (max-width: 920px) {
	/* Services Section - responsive */
	.service-icon {
		display: none;
	}
	.service-block {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	/* Footer Elements Styles */
	.column > h5,
	.a-col,
	.subscribe-block > h4 {
		font-size: 15px;
	}
	.column > p,
	.contact-li-col,
	#email-block > input {
		font-size: 12px;
		line-height: 15px;
	}
}
@media (max-width: 860px) {
	/* Form Section elements styles */
	.form-wraper {
		-ms-grid-columns: auto;
		grid-template-columns: auto;
	}
	/* Accordion elements responsive */
	.title-accordion h2 {
		font-size: 19px;
		line-height: 21px;
	}
	.faq-text,
	.accordion-ul {
		font-size: 15px;
		line-height: 20px;
	}
	.accordion-ul {
		margin-top: 10px;
	}

	.title-accordion h2:before {
		top: 18px;
	}
	/* Numbers grid */
	.our-numbers-grid {
		-ms-grid-columns: (auto)[2];
		grid-template-columns: repeat(2, auto);
	}
	.number-block {
		height: 100px;
	}
	/* Form Section elements styles */
	.form-desc,
	.request-form {
		padding: 30px;
	}
	.form-wraper {
		-webkit-box-shadow: none;
		        box-shadow: none;
	}
	/* About US */
	.projects-photos {
		-ms-grid-columns: (auto)[2];
		grid-template-columns: repeat(2, auto);
	}
}
@media (max-width: 790px) {
	/* First Section styles */
	h1 {
		font-size: 40px;
		line-height: 45px;
	}
	/* Our Team Section */
	.team-photo-wraper {
		width: 50%;
		-webkit-box-pack: end;
		    -ms-flex-pack: end;
		        justify-content: flex-end;
	}
	.team-content-wraper {
		width: 100%;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
	}
	.our-team-block {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	#member-quote {
		height: 230px;
	}
	.team-photo-wraper div:nth-child(2) {
		display: none;
	}
	.team-photo-wraper div:nth-child(1) {
		width: 90%;
	}
	/* Footer Section */
	.subscribe-block {
		-ms-grid-column: 2;
		grid-column: 2;
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
		gap: 0;
	}
	.columns-grid {
		-ms-grid-columns: auto 30px auto;
		grid-template-columns: repeat(2, auto);
		-moz-column-gap: 30px;
		     -webkit-column-gap: 30px;
		        column-gap: 30px;
		width: 95%;
	}
}
@media (max-width: 670px) {
	/* Header - responsive */
	.fixed-header {
		height: 70px;
	}
	.header-flex {
		padding: 0.5rem 1.5rem;
	}
	/* First Section styles */
	.first-section-photo {
		width: 40%;
	}
	.first-section-yellow {
		width: 60%;
	}
	/* Our Clients Section */
	#client-quote {
		font-size: 13px;
		width: 80%;
	}
	.projects-text {
		font-size: 13px;
	}
	#btn-left,
	#btn-right {
		font-size: 24px;
		height: 50px;
		width: 25px;
	}
	#client-company {
		margin-bottom: 50px;
	}
	/* FAQ Section */
	.faq-section-wraper h3,
	.section-form-wraper h3 {
		font-size: 30px;
		margin-bottom: 30px;
	}
	/* About Us */
	/* Flip Cards */
	.flip-card-back-text h4 {
		font-size: 20px;
	}
	.flip-card-back-text p {
		font-size: 12px;
	}
	/* Our Team Section */
	.team-photo-wraper {
		display: none;
	}
	#member-quote {
		height: 150px;
		font-size: 12px;
	}
	#member-position {
		font-size: 12px;
	}
	#member-name {
		font-size: 20px;
	}
	/* Privacy Policy / Terms & Conditions */
	.section-tc h4,
	.section-privacy-policy h4 {
		font-size: 30px;
		line-height: 32px;
	}
	.privacy-desc,
	.tc-desc,
	.ul-bullets {
		font-size: 12px;
	}
	.ul-titles {
		font-size: 20px;
		line-height: 24px;
	}
}
@media (max-width: 560px) {
	/* Footer Elements Styles */
	.map-wraper {
		display: none;
	}
	.columns-grid {
		-ms-grid-columns: auto;
		grid-template-columns: auto;
		width: 90%;
		margin: 0 auto;
	}
	.subscribe-block {
		-ms-grid-column: 1;
		grid-column: 1;
		margin-top: 20px;
		gap: 14px;
		width: 100%;
	}
}
@media (max-width: 480px) {
	/* Header - responsive */
	.fixed-header {
		height: 60px;
	}
	body {
		padding-top: 50px;
	}
	/* First Section styles */
	h1 {
		font-size: 35px;
		line-height: 40px;
	}
	.first-section-yellow {
		background-image: url(../images/tablet.jpg);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		height: 100%;
		width: 100%;
	}
	.first-section-photo {
		display: none;
	}
	.first-section-yellow p {
		color: black;
		font-weight: bold;
		font-size: 14px;
		line-height: 20px;
	}

	/* Services Section - responsive */
	.section-services h3,
	.clients-section-wraper h3,
	.about-us-wraper h3,
	.section-team-wraper h3 {
		font-size: 30px;
		line-height: 32px;
	}
	.service-block h4 {
		font-size: 24px;
		text-align: center;
	}
	.service-block p {
		font-size: 12px;
		text-align: center;
		padding: 0 0.5rem;
	}
	.header-wraper img {
		width: 80%;
	}
	/*  Footer Elements styles */
	.column > p,
	.contact-li-col {
		font-size: 13px;
		line-height: 16px;
	}
	/* Footer Subscribe input styles */
	.subscribe-block > h4 {
		font-size: 18px;
	}
	/* below line elements styles */
	.copyright-text,
	.copyright-span {
		font-size: 12px;
	}
	/* Sign-up Section */
	.section-signup-wraper h4 {
		font-size: 30px;
	}
	.section-signup-wraper p {
		font-size: 12px;
	}
	/* FAQs Section */
	.accordion-ul {
		font-size: 12px;
	}
	/* Form Section */
	.form-desc {
		text-align: center;
		padding: 15px;
	}
	.area-details {
		height: 50px;
		margin-bottom: 5px;
	}
	#name-input::-webkit-input-placeholder, #email-input::-webkit-input-placeholder {
		font-size: 12px;
		line-height: 12px;
	}
	#name-input::-moz-placeholder, #email-input::-moz-placeholder {
		font-size: 12px;
		line-height: 12px;
	}
	#name-input:-ms-input-placeholder, #email-input:-ms-input-placeholder {
		font-size: 12px;
		line-height: 12px;
	}
	#name-input::-ms-input-placeholder, #email-input::-ms-input-placeholder {
		font-size: 12px;
		line-height: 12px;
	}
	#name-input::placeholder,
	#email-input::placeholder,
	#input-service,
	.area-details {
		font-size: 12px;
		line-height: 12px;
	}
	.request-form {
		padding: 15px;
	}
	/* About Us */
	.projects-photos {
		gap: 10px;
		-ms-grid-columns: auto;
		grid-template-columns: auto;
	}
	/* Our Team Section */
	.team-content-wraper {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	#member-quote {
		height: 200px;
	}
}