/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Header elements styles */
header {
	background-color: #f2f2f2;
	height: 100px;
	width: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 100;
}
.fixed-header.scroll {
	background-color: rgba(230, 189, 42, 0.949);
}
body {
	padding-top: 100px;
}
.header-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 1.5rem;
	margin: 0 auto;
	max-width: 1440px;
	width: 100%;
}
.navigation {
	width: 450px;
}
.nav-ul {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.nav-a {
	font-family: "Source Sans Pro";
	font-size: 17px;
	font-weight: 900;
	line-height: 16px;
	letter-spacing: 0.5px;
	color: rgba(0, 0, 0, 1);
	position: relative;
}
#btn-request,
#btn-request-demo {
	font-family: "Source Sans Pro";
	font-size: 14px;
	font-weight: bold;
	line-height: 24px;
	letter-spacing: 4.2px;
	text-align: center;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(255, 199, 0, 1);
	width: 160px;
	height: 40px;
	text-align: center;
	padding-top: 7px;
}
.fixed-header.scroll #btn-request-demo {
	background-color: rgba(0, 0, 0, 1);
}
.header-buttons {
	width: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.burger-wraper {
	width: 2rem;
	height: 2rem;
	display: none;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.burger-line {
	background-color: rgba(27, 27, 27, 1);
	height: 0.1rem;
	width: 100%;
	-webkit-transition: 400ms cubic-bezier(0.23, 1, 0.32, 1);
	-o-transition: 400ms cubic-bezier(0.23, 1, 0.32, 1);
	transition: 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
.burger-line:nth-child(2) {
	width: 70%;
}
.burger-line:nth-child(3) {
	width: 85%;
}
/* Overlay elements styles */
.overlay {
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100vh;
	-webkit-transform: translateY(-200%);
	    -ms-transform: translateY(-200%);
	        transform: translateY(-200%);
	background-image: url(../images/hand.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 1;
	width: 100%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	gap: 2rem;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	padding: 5rem 0 0 5rem;
	text-align: left;
	-webkit-transition: -webkit-transform 1s ease-in-out;
	transition: -webkit-transform 1s ease-in-out;
	-o-transition: transform 1s ease-in-out;
	transition: transform 1s ease-in-out;
	transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}
.overlay.visible {
	-webkit-transform: translateY(0);
	    -ms-transform: translateY(0);
	        transform: translateY(0);
	-webkit-transition: -webkit-transform 1s ease-in-out;
	transition: -webkit-transform 1s ease-in-out;
	-o-transition: transform 1s ease-in-out;
	transition: transform 1s ease-in-out;
	transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}
body {
	position: relative;
}
.body-hidden {
	overflow: hidden;
}
.header-wraper.visible {
	background-color: white;
	position: absolute;
	z-index: 2;
	height: 100%;
}
.burger-wraper.visible {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.burger-line.visible:nth-child(2) {
	display: none;
}
.burger-line.visible:nth-child(1) {
	margin-top: 50%;
	-webkit-transform: rotate(405deg);
	    -ms-transform: rotate(405deg);
	        transform: rotate(405deg);
	-webkit-transition: 400ms cubic-bezier(0.23, 1, 0.32, 1);
	-o-transition: 400ms cubic-bezier(0.23, 1, 0.32, 1);
	transition: 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
.burger-line.visible:nth-child(3) {
	margin-top: -50%;
	-webkit-transform: rotate(-405deg);
	    -ms-transform: rotate(-405deg);
	        transform: rotate(-405deg);
	width: 100%;
	-webkit-transition: 400ms cubic-bezier(0.23, 1, 0.32, 1);
	-o-transition: 400ms cubic-bezier(0.23, 1, 0.32, 1);
	transition: 400ms cubic-bezier(0.23, 1, 0.32, 1);
}
.overlay-ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 2rem;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.overlay-a {
	font-family: "Source Sans Pro";
	font-size: 24px;
	font-weight: bold;
	color: rgba(0, 0, 0, 1);
	position: relative;
}
.overlay > #btn-request {
	font-family: "Source Sans Pro";
	font-size: 14px;
	width: 160px;
	height: 40px;
	font-weight: bold;
	line-height: 24px;
	letter-spacing: 4.2px;
	text-align: center;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(0, 0, 0, 1);
	text-align: center;
}
.hidden {
	display: none;
}
/* Navigation Hover Effect */
.nav-a::after,
.overlay-a::after {
	content: "";
	background-color: rgba(255, 199, 0, 1);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 3px;
	width: 0%;
	position: absolute;
	left: 0;
	bottom: -19px;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
.overlay-a::after {
	bottom: -9px;
}
.nav-a:hover,
.overlay-a:hover {
	color: rgba(255, 199, 0, 1);
}
.nav-a:hover::after,
.overlay-a:hover::after {
	width: 100%;
}
.fixed-header.scroll .nav-a::after {
	background-color: rgba(0, 0, 0, 1);
}
.fixed-header.scroll .nav-a:hover {
	color: rgba(0, 0, 0, 1);
}
/* First Section elements styles */

.first-section-wraper {
	max-width: 1440px;
	width: 100%;
	height: 450px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 0 auto;
}
.first-section-yellow {
	background-color: rgba(255, 199, 0, 1);
	width: 50%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	gap: 30px;
}
h1 {
	font-family: "Source Sans Pro";
	font-size: 60px;
	font-weight: 900;
	line-height: 60px;
	color: rgba(0, 0, 0, 1);
	width: 70%;
}
.first-section-yellow p {
	font-family: "Sintony";
	font-size: 15px;
	font-weight: normal;
	line-height: 24px;
	color: rgba(34, 42, 65, 1);
	width: 70%;
}

.first-section-photo {
	width: 50%;
	background-image: url(../images/tablet.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}
/* Our Services Section elements styles */
.section-services-wraper {
	margin: 50px auto 120px auto;
	max-width: 1440px;
	width: 100%;
}
.section-services-wraper h3,
.section-team-wraper h3,
.clients-section-wraper h3 {
	font-family: "Source Sans Pro";
	font-size: 48px;
	font-weight: 900;
	line-height: 56px;
	text-align: right;
	color: rgba(0, 0, 0, 1);
	width: 85%;
}
.section-services-wraper h3:nth-child(2) {
	margin-bottom: 100px;
}
.section-services-wraper span {
	color: rgba(255, 199, 0, 1);
}
.services-wraper {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 3% 1fr;
	grid-template-columns: repeat(2, 1fr);
	gap: 3%;
	width: 80%;
	height: auto;
	-ms-flex-line-pack: center;
	    align-content: center;
	margin: 0 auto;
}
.left-services-wraper,
.right-services-wraper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 80px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 543px;
}
.left-services-wraper {
	-webkit-transform: translateY(-10%);
	    -ms-transform: translateY(-10%);
	        transform: translateY(-10%);
}
.service-block {
	position: relative;
	background-color: rgba(0, 0, 0, 1);
	height: auto;
	width: 100%;
	padding-top: 40px;
	padding-bottom: 60px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	gap: 20px;
}
.left-services-wraper .service-icon {
	left: -15%;
	-webkit-transform: translate(15%, -50%);
	    -ms-transform: translate(15%, -50%);
	        transform: translate(15%, -50%);
}
.right-services-wraper .service-icon {
	right: -10%;
	-webkit-transform: translate(10%, -50%);
	    -ms-transform: translate(10%, -50%);
	        transform: translate(10%, -50%);
}
.service-icon {
	width: 122px;
	height: 122px;
	background-color: rgba(255, 199, 0, 1);
	position: absolute;
	border-radius: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	top: 50%;
}

.service-block h4 {
	font-family: "Source Sans Pro";
	font-size: 34px;
	font-weight: 900;
	line-height: 51px;
	color: rgba(255, 255, 255, 1);
}
.service-block p {
	font-family: "Sintony";
	font-size: 15px;
	font-weight: normal;
	line-height: 24px;
	color: rgba(255, 255, 255, 1);
	max-width: 344px;
	width: 100%;
}
/* About Us Section */
.about-us-wraper {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
}
.projects-wraper {
	margin: 0 auto;
	width: 85%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-bottom: 139px;
}
.about-us-wraper h3 {
	font-family: "Source Sans Pro";
	font-size: 48px;
	font-weight: 900;
	line-height: 54px;
	width: 85%;
	margin: 0 auto;
	position: relative;
	margin-bottom: 80px;
}
.about-us-wraper h3::after {
	content: "";
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 6px;
	width: 100px;
	background-color: rgba(255, 199, 0, 1);
	position: absolute;
    left: 0;
	bottom: -40px;
}
.projects-text {
	width: 43%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 10px;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	font-family: "Sintony";
	font-size: 15px;
	font-weight: normal;
	line-height: 24px;
}
.projects-photos {
	display: -ms-grid;
	display: grid;
	height: auto;
	width: 50%;
	-ms-grid-columns: auto 20px auto;
	grid-template-columns: repeat(2, auto);
	gap: 40px 20px;
	-ms-flex-line-pack: center;
	    align-content: center;
}
/* Flip Card style */
.flip-card {
	background-color: transparent;
	width: 100%;
	height: 165px;
	-webkit-perspective: 1000px;
	        perspective: 1000px;
}

.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	-webkit-transition: -webkit-transform 0.8s;
	transition: -webkit-transform 0.8s;
	-o-transition: transform 0.8s;
	transition: transform 0.8s;
	transition: transform 0.8s, -webkit-transform 0.8s;
	-webkit-transform-style: preserve-3d;
	        transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
	-webkit-transform: rotateY(180deg);
	        transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
}

.flip-card-front {
	background-color: #bbb;
	color: black;
	overflow: hidden;
}
.flip-card-front img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}

.flip-card-back {
	background-color: rgba(255, 199, 0, 1);
	-webkit-transform: rotateY(180deg);
	        transform: rotateY(180deg);
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.flip-card-back-text {
	color: #000000;
	width: 70%;
	height: auto;
}
.flip-card-back-text h4 {
	font-family: "Source Sans Pro";
	font-size: 24px;
	font-weight: 900;
	line-height: 25px;
	margin-bottom: 10px;
}
.flip-card-back-text p {
	font-family: "Sintony";
	font-size: 15px;
	font-weight: normal;
	line-height: 24px;
}
/* Numbers grid */
.our-numbers-grid {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (auto)[4];
	grid-template-columns: repeat(4, auto);
	max-width: 1440px;
	width: 100%;
	margin-bottom: 131px;
}
.number-block {
	background-color: rgba(0, 0, 0, 1);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 30px;
	width: auto;
	height: 360px;
	text-align: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.number-block h4 {
	font-family: "Sintony";
	font-size: 80px;
	font-weight: normal;
	color: rgba(255, 199, 0, 1);
}
.number-block p {
	font-family: "Source Sans Pro";
	font-size: 24px;
	font-weight: 900;
	color: rgba(255, 255, 255, 1);
}
.number-block:hover {
	background-color: rgba(255, 198, 0, 1);
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	        transform: scale(1.1);
}
.number-block:hover h4 {
	color: rgba(255, 255, 255, 1);
}
/* Team Member Section */
.section-team-wraper {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
}
.our-team-block {
	height: auto;
	width: 80%;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	margin-bottom: 120px;
}
.section-team-wraper h3:nth-child(2) {
	margin-bottom: 50px;
}
.team-content-wraper {
	height: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 33%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}
.team-photo-wraper {
	width: 65%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.team-photo-wraper div {
	width: 22%;
}
.team-photo-wraper div img {
	width: 100%;
}
.member-img-div {
	height: 100px;
	width: 100px;
	-ms-grid-row: 1;
	-ms-grid-row-span: 3;
	grid-row: 1 / span 3;
}
.member-img-div img {
	width: 100%;
}
.team-member-wraper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	gap: 30px;
	width: 100%;
	height: auto;
}
.member-info {
	display: -ms-grid;
	display: grid;
	-moz-column-gap: 20px;
	     -webkit-column-gap: 20px;
	        column-gap: 20px;
	row-gap: 10px;
	width: 100%;
	height: auto;
	-ms-grid-columns: auto 20px auto;
	grid-template-columns: auto auto;
	-ms-grid-rows: auto 10px auto 10px auto;
	grid-template-rows: repeat(3, auto);
}
.member-info > *:nth-child(1) {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
}
.member-info > *:nth-child(2) {
	-ms-grid-row: 1;
	-ms-grid-column: 3;
}
.member-info > *:nth-child(3) {
	-ms-grid-row: 3;
	-ms-grid-column: 1;
}
.member-info > *:nth-child(4) {
	-ms-grid-row: 3;
	-ms-grid-column: 3;
}
.member-info > *:nth-child(5) {
	-ms-grid-row: 5;
	-ms-grid-column: 1;
}
.member-info > *:nth-child(6) {
	-ms-grid-row: 5;
	-ms-grid-column: 3;
}
.member-button-wraper {
	height: 37px;
	width: 78px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.member-button-wraper button {
	height: 29px;
	width: 29px;
	background-color: transparent;
	font-size: 20px;
	color: #000000;
}
.member-button-wraper button:hover {
	color: rgba(255, 199, 0, 1);
}

#member-name {
	font-family: "Source Sans Pro";
	font-size: 28px;
	font-weight: 900;
	line-height: 36px;
}
#member-position,
#member-email {
	font-family: "Sintony";
	font-size: 13px;
	font-weight: bold;
	line-height: 17px;
	letter-spacing: 0.5px;
	color: #293340;
}
#member-email .fa-paper-plane {
	color: rgba(255, 199, 0, 1);
}
#member-quote {
	font-family: "Sintony";
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	color: #222a41;
	height: 170px;
	width: 100%;
}
/* Our Clients Section */
/* Client Quote Slider */
.clients-section-wraper {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
}
.clients-section-wraper h3 {
	margin-bottom: 69px;
}
.client-quote-icon {
	font-family: "Source Sans Pro";
	font-size: 60px;
	font-weight: 900;
	letter-spacing: -1.85px;
	text-align: center;
	height: 58px;
	width: 66px;
	margin-top: 35px;
}
.client-quote-div {
	background-color: rgba(255, 199, 0, 1);
	width: 100%;
	position: relative;
	height: auto;
}
.client-quote-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.quote-content-wraper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin: 0 auto;
	width: 90%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	text-align: center;
}
#client-quote {
	font-family: "Sintony";
	font-size: 15px;
	font-weight: normal;
	line-height: 24px;
}
#client-name {
	margin-top: 22px;
	margin-bottom: 16px;
	font-family: "Source Sans Pro";
	font-size: 13px;
	font-weight: 900;
	line-height: 16px;
	letter-spacing: 0.5px;
}
#client-company {
	font-family: "Sintony";
	font-size: 13px;
	font-weight: bold;
	line-height: 16px;
	margin-bottom: 109px;
}
#btn-left,
#btn-right {
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	top: 50%;
	position: absolute;
	font-size: 32px;
	background-color: #ffffff;
	height: 100px;
	width: 50px;
	text-align: center;
}
#btn-left {
	left: 0;
	border-radius: 0 12rem 12rem 0;
}
#btn-right {
	right: 0;
	border-radius: 12rem 0 0 12rem;
}
/* Clients Logos */
.clients-logos {
	width: 100%;
	height: auto;
	background-color: rgba(0, 0, 0, 0.05);
	padding: 60px;
}
.logo-flex {
	width: 100%;
	max-width: 1440px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	margin: 0 auto;
}

/* Accordion Elements styles */
.faq-section-wraper h3 {
	font-family: "Source Sans Pro";
	font-size: 48px;
	font-weight: 900;
	line-height: 54px;
	margin-bottom: 50px;
	text-align: right;
	color: #000000;
	width: 85%;
}
.faq-section-wraper h3 span,
.section-team-wraper h3 span,
.about-us-wraper h3 span {
	color: rgba(255, 199, 0, 1);
}
.faq-section-wraper {
	margin-top: 50px;
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 50px;
	background-color: rgba(0, 0, 0, 0.05);
}
.faq-accordion {
	margin: auto;
	max-width: 1000px;
	width: 90%;
	gap: 5px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.question-container {
	position: relative;
	height: 64px;
	-webkit-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}
.question-container::before {
	content: "";
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	pointer-events: none;
	-webkit-box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, 0.12),
		0 2px 4px rgba(0, 0, 0, 0.24);
	        box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, 0.12),
		0 2px 4px rgba(0, 0, 0, 0.24);
}
.title-accordion {
	width: 100%;
	height: 64px;
	line-height: 64px;
	padding: 0 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding-left: 60px;
	background-color: #000000;
}
.question-container:nth-child(2) .title-accordion {
	background-color: rgba(255, 199, 0, 1);
}
.question-container:nth-child(2) .title-accordion h2 {
	color: rgba(0, 0, 0, 1);
}
.title-accordion h2 {
	font-family: "Sintony";
	font-size: 30px;
	line-height: 75px;
	font-weight: normal;
	color: white;
}
.faq-text {
	height: 0;
	overflow: hidden;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	width: 100%;
	padding: 30px 20px;
	color: rgba(0, 0, 0, 0.54);
	display: none;
	background-color: #f2f2f2;
	font-family: "Sintony";
	font-size: 24px;
	font-weight: normal;
	color: #222a41;
	line-height: 30px;
}
.faq-text div {
	width: 100%;
	padding: 20px;
}
.accordion-ul {
	margin-top: 30px;
	width: 90%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 20px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	font-size: 20px;
	padding-left: 1ch;
}
.accordion-ul li {
	list-style-type: "✓";
	padding-left: 1ch;
}
.ul-span {
	font-weight: 900;
	font-family: "Source Sans Pro";
}
.accordion-ul li::marker {
	font-size: 20px;
	color: rgba(255, 199, 0, 1);
	font-weight: bold;
}
.accordion-ul li:nth-child(odd)::marker {
	color: #000000;
}
.question-container.active {
	height: auto;
	margin: 16px 0;
	background-color: #f2f2f2;
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.32);
	        box-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.32);
}
.question-container.active .title-accordion {
	border-bottom: 1px solid rgba(0, 0, 0, 0.18);
	background-color: rgba(0, 0, 0, 1);
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}
.question-container.active .title-accordion h2 {
	color: rgba(255, 199, 0, 1);
}
.question-container:nth-child(2).active .title-accordion h2 {
	color: white;
}
.question-container.active .faq-text {
	display: inline-block;
	height: auto;
}
.title-accordion h2:before {
	position: absolute;
	display: block;
	content: "\203a";
	font-size: 40px;
	left: 20px;
	top: -5px;
	-webkit-transition: -webkit-transform 0.15s ease-in-out;
	transition: -webkit-transform 0.15s ease-in-out;
	-o-transition: transform 0.15s ease-in-out;
	transition: transform 0.15s ease-in-out;
	transition: transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
}
.question-container.active .title-accordion h2:before {
	-webkit-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	        transform: rotate(90deg);
	color: rgba(255, 199, 0, 1);
}
.question-container:nth-child(2).active .title-accordion h2::before {
	color: white;
}

/*  Form Section Elements styles */
.section-form-wraper {
	height: auto;
	width: 100%;
	max-width: 1440px;
	padding-bottom: 129px;
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0.05);
}
.section-form-wraper h3 {
	font-family: "Source Sans Pro";
	font-size: 48px;
	font-weight: 900;
	line-height: 54px;
	color: #000000;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 50px;
}

.form-wraper {
	display: -ms-grid;
	display: grid;
	max-width: 1114px;
	width: 80%;
	-ms-grid-columns: 2fr 3fr;
	grid-template-columns: 2fr 3fr;
	margin: 0 auto;
	-webkit-box-shadow: 10px 10px 5px rgba(255, 199, 0, 1);
	        box-shadow: 10px 10px 5px rgba(255, 199, 0, 1);
}
.form-desc {
	width: 100%;
	row-gap: 26px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	background-image: url(../images/posters.jpg);
	height: auto;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
.form-desc > h4 {
	font-family: "Source Sans Pro";
	font-size: 48px;
	font-weight: 900;
	line-height: 56px;
	color: rgba(255, 255, 255, 1);
	z-index: 10;
	width: 79%;
}
.form-desc p {
	font-family: "Sintony";
	font-size: 15px;
	font-weight: normal;
	line-height: 24px;
	color: rgba(255, 255, 255, 1);
	z-index: 10;
	width: 79%;
}
.form-desc a {
	color: rgba(255, 199, 0, 1);
}

.request-form {
	background-color: rgba(255, 255, 255, 1);
	padding: 128px 40px 86px 80px;
}
.flex-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 auto;
	gap: 50px;
	width: 100%;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}
.btn-send {
	height: 42px;
	width: 154px;
	font-family: "Source Sans Pro";
	font-size: 11px;
	font-weight: bold;
	line-height: 24px;
	letter-spacing: 3.08px;
	text-align: center;
	color: rgba(0, 0, 0, 1);
	background-color: rgba(255, 199, 0, 1);
}
.request-form > input,
#input-service {
	border: none;
	width: 100%;
	height: 33px;
	border-bottom: 1px solid rgba(0, 0, 0, 1);
}
.request-form > input:focus,
.area-details:focus,
#input-service:focus {
	outline: none;
	border-bottom: 2px solid rgba(255, 199, 0, 1);
}
.area-details {
	border: none;
	resize: none;
	height: 183px;
	width: 100%;
	border-bottom: 1px solid rgba(0, 0, 0, 1);
	margin-bottom: 29px;
}
#name-input::-webkit-input-placeholder, #email-input::-webkit-input-placeholder {
	font-family: "Sintony";
	font-size: 15px;
	font-weight: normal;
	line-height: 24px;
	color: rgba(34, 42, 65, 1);
}
#name-input::-moz-placeholder, #email-input::-moz-placeholder {
	font-family: "Sintony";
	font-size: 15px;
	font-weight: normal;
	line-height: 24px;
	color: rgba(34, 42, 65, 1);
}
#name-input:-ms-input-placeholder, #email-input:-ms-input-placeholder {
	font-family: "Sintony";
	font-size: 15px;
	font-weight: normal;
	line-height: 24px;
	color: rgba(34, 42, 65, 1);
}
#name-input::-ms-input-placeholder, #email-input::-ms-input-placeholder {
	font-family: "Sintony";
	font-size: 15px;
	font-weight: normal;
	line-height: 24px;
	color: rgba(34, 42, 65, 1);
}
#name-input::placeholder,
#email-input::placeholder,
#input-service,
.area-details {
	font-family: "Sintony";
	font-size: 15px;
	font-weight: normal;
	line-height: 24px;
	color: rgba(34, 42, 65, 1);
}
.form-desc::after {
	content: "";
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.9)));
	background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

/*  Footer Elements styles */
footer {
	background-color: rgba(0, 0, 0, 1);
	padding-bottom: 10px;
}
.footer-wraper {
	max-width: 1440px;
	width: 90%;
	height: auto;
	padding-top: 40px;
}
.footer-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 auto;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	gap: 60px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.columns-grid {
	display: -ms-grid;
	display: grid;
	width: 100%;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	height: auto;
	row-gap: 30px;
	-ms-flex-line-pack: center;
	    align-content: center;
	grid-template-columns: repeat(auto-fit, minmax(200px, 340px));
}
.map-wraper {
	margin-top: 10px;
	width: 100%;
	height: 50%;
}
.map {
	width: 100%;
}
.column > h5,
.a-col {
	font-family: "Source Sans Pro";
	font-size: 20px;
	font-weight: 900;
	line-height: 30px;
	color: rgba(255, 199, 0, 1);
	margin-bottom: 14px;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.a-col:hover {
	color: white;
	font-size: 23px;
}
.columns-grid div:nth-child(3) ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 5px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.column > p,
.contact-li-col {
	font-family: "Sintony";
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
	letter-spacing: 1px;
	color: rgba(255, 255, 255, 1);
}
.column p {
	margin-bottom: 10px;
}
.contact-li-col > a {
	color: rgba(151, 151, 151, 1);
}
.nav-ul-col {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	row-gap: 4px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin-top: 30px;
}
.fa-envelope,
.fa-phone {
	color: rgba(255, 199, 0, 1);
}
/* Social Icons Styles */
.social-div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-moz-column-gap: 25px;
	     -webkit-column-gap: 25px;
	        column-gap: 25px;
	margin-top: 20px;
}
.icon {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	width: 30px;
	height: 30px;
	font-size: 16px;
	color: #fff;
	border-radius: 50%;
	outline: 2px solid #fff;
	-webkit-transition-property: outline-offset, outline-color, background-color;
	-o-transition-property: outline-offset, outline-color, background-color;
	transition-property: outline-offset, outline-color, background-color;
	-webkit-transition-duration: 0.25s;
	     -o-transition-duration: 0.25s;
	        transition-duration: 0.25s;
}
.icon:hover {
	outline-offset: 4px;
}
.icon i {
	margin: auto;
}
.icon:hover i {
	-webkit-animation: shake 0.25s;
	        animation: shake 0.25s;
}
.icon-instagram:hover {
	background-image: -o-radial-gradient(
		30% 107%,
		circle,
		#fdf497 0%,
		#fdf497 5%,
		#fd5949 45%,
		#d6249f 60%,
		#285aeb 90%
	);
	background-image: radial-gradient(
		circle at 30% 107%,
		#fdf497 0%,
		#fdf497 5%,
		#fd5949 45%,
		#d6249f 60%,
		#285aeb 90%
	);
	outline-color: #a02d76;
}
.icon-facebook:hover {
	background-color: #4267b2;
	outline-color: #4267b2;
}
.icon-linkedin:hover {
	background-color: #0077b5;
	outline-color: #0077b5;
}
.icon-github:hover {
	background-color: #2ea44f;
	outline-color: #2ea44f;
}
/* Footer Subscribe input styles */
.subscribe-block {
	max-width: 800px;
	width: 95%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 20px;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-grid-column: 1;
	-ms-grid-column-span: 3;
	grid-column: 1 / span 3;
	margin: 0 auto;
}
#email-block {
	border-bottom: 1px solid rgba(255, 199, 0, 1);
	width: 271px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
#email-block > input {
	border: none;
	background-color: transparent;
	width: 95%;
	font-family: "Sintony";
	font-size: 20px;
	font-weight: normal;
	line-height: 30px;
	color: rgba(255, 255, 255, 1);
}
#email-block > input::-webkit-input-placeholder {
	font-family: "Sintony";
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
	color: rgba(255, 199, 0, 1);
}
#email-block > input::-moz-placeholder {
	font-family: "Sintony";
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
	color: rgba(255, 199, 0, 1);
}
#email-block > input:-ms-input-placeholder {
	font-family: "Sintony";
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
	color: rgba(255, 199, 0, 1);
}
#email-block > input::-ms-input-placeholder {
	font-family: "Sintony";
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
	color: rgba(255, 199, 0, 1);
}
#email-block > input::placeholder {
	font-family: "Sintony";
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
	color: rgba(255, 199, 0, 1);
}
#email-block > input:focus {
	outline: none;
}
#email-block > button {
	background-color: transparent;
}
.fa-arrow-right {
	color: rgba(255, 199, 0, 1);
}
.subscribe-block > h4 {
	font-family: "Sintony";
	font-size: 20px;
	font-weight: normal;
	color: rgba(255, 255, 255, 1);
}
/* below line elements styles */
.copyright-block {
	width: 90%;
	text-align: center;
	margin: 0 auto;
}
.copyright-text,
.copyright-span {
	font-family: "Sintony";
	font-size: 18px;
	font-weight: normal;
	line-height: 30px;
	color: rgba(255, 255, 255, 1);
}
.copyright-span {
	color: rgba(255, 199, 0, 1);
}
.line {
	border: 1px solid rgba(151, 151, 151, 1);
	margin: 61px 0 17px 0;
}
/* Demo Sign Up */
.section-signup-wraper {
	max-width: 1440px;
	width: 100%;
	background-color: white;
	padding: 20px 0;
	margin: 0 auto;
	margin-bottom: 50px;
	height: auto;
}
.section-signup-wraper > h4 {
	font-family: "Source Sans Pro";
	font-size: 48px;
	font-weight: 900;
	line-height: 56px;
	color: rgba(0, 0, 0, 1);
	z-index: 10;
	width: 79%;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 20px;
}
.section-signup-wraper p {
	font-family: "Sintony";
	font-size: 15px;
	font-weight: normal;
	line-height: 24px;
	color: rgba(0, 0, 0, 1);
	z-index: 10;
	width: 79%;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 50px;
}
.section-signup-wraper a {
	color: rgba(255, 199, 0, 1);
}
#registration-form {
	height: auto;
	width: 300px;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
#registration-form div:not(:nth-child(3)) {
	height: 57px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
#registration-form div:nth-child(9) {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	gap: 30px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
#registration-form div:nth-child(9) input {
	width: 20px;
}
#registration-form div:nth-child(3) {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	height: auto;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
#registration-form div:nth-child(3) input {
	width: 270px;
}
#btn-signup {
	height: 35px;
	width: 140px;
	font-family: "Source Sans Pro";
	font-size: 11px;
	font-weight: bold;
	line-height: 24px;
	letter-spacing: 3.08px;
	text-align: center;
	background-color: rgba(255, 199, 0, 1);
}
#registration-form div label {
	font-family: "Sintony";
	font-size: 15px;
	font-weight: bold;
	line-height: 24px;
}
#registration-form div input {
	height: 33px;
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 1);
	background-color: rgba(0, 0, 0, 0.05);
	border-radius: 8px;
	padding-left: 5px;
}
#registration-form div input:focus {
	outline: none;
	border: 2px solid rgba(255, 199, 0, 1);
}
#registration-form div input::-webkit-input-placeholder {
	font-family: "Sintony";
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	color: white;
}
#registration-form div input::-moz-placeholder {
	font-family: "Sintony";
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	color: white;
}
#registration-form div input:-ms-input-placeholder {
	font-family: "Sintony";
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	color: white;
}
#registration-form div input::-ms-input-placeholder {
	font-family: "Sintony";
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	color: white;
}
#registration-form div input::placeholder {
	font-family: "Sintony";
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	color: white;
}
#eyeIcon {
	font-size: 20px;
}
.green-valid#error-email,
.green-valid#error-email-subscribe,
.green-valid#email-error {
	background-color: #abe8c4;
	color: green;
}
#registration-form p,
#email-error,
#error-email-subscribe {
	background-color: #fff0f4;
	color: #c51244;
	width: 100%;
	height: auto;
	text-align: left;
	font-family: "Sintony";
	font-size: 14.5px;
	font-weight: normal;
	padding-left: 10px;
}
#error-email-subscribe {
	width: 150px;
	font-size: 10px;
	line-height: 15px;
	text-align: center;
}
/* Terms & Conditions and Privacy Policy Pages */
.section-tc,
.section-privacy-policy {
	max-width: 1440px;
	width: 100%;
	background-color: white;
	padding: 20px 0;
	margin: 0 auto;
}
.section-tc h4,
.section-privacy-policy h4 {
	font-family: "Source Sans Pro";
	font-size: 48px;
	font-weight: 900;
	line-height: 56px;
	color: rgba(0, 0, 0, 1);
	z-index: 10;
	width: 79%;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 20px;
}
.tc-desc,
.privacy-desc {
	font-family: "Sintony";
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
	color: rgba(34, 42, 65, 1);
	width: 85%;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 30px;
}
.privacy-desc a {
	color: rgba(255, 199, 0, 1);
}
.ul-titles {
	font-family: "Source Sans Pro";
	font-size: 34px;
	font-weight: 900;
	line-height: 51px;
	width: 85%;
	margin: 0 auto;
	margin-bottom: 50px;
}
.title-li {
	margin: 10px 0;
}
.ul-bullets {
	font-family: "Sintony";
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
	color: rgba(34, 42, 65, 1);
	list-style-type: disc;
	padding-left: 30px;
}